@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.close{
    display: none;
}

body {
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
}

.border {
    border: 2px solid red;
    margin: 3px;
}

.left {
    width: 27vw;
    padding: 10px;
}

.right {
    width: 75vw;
    font-size: 15px;
}


.home {
    padding: 10px;
}

.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    font-size: 13px;
    align-items: center;
}

.heading img {
    width: 25px;
}

.library {
    min-height: 80vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.footer a {
    color: gray;
}

.right {
    margin: 16px 0px;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}

.header>* {
    padding: 20px;
}

.spotify-playlist {
    padding: 16px;
}

.spotify-playlist h1 {
    padding: 10px;
}

.cardContainer {
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 70vh;
}


.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}


.play {
    position: absolute;
    top: 175px;
    left: 167px;
    width: 24px;
    height: 24px;
    background-color: #1fd164;
    padding: 6px;
    border-radius: 30px;
    z-index: 1;
}

.buttons>* {
    margin: 0 12px;
}

.signupbtn {
    font-weight: bold;
    color: white;
    border: none;
    outline: none;
    background-color: rgb(34, 34, 34);
    cursor: pointer;
    font-size: 15px;
}

.signupbtn:hover {
    font-size: 16px;
    color: grey;

}

.loginbtn {
    background-color: white;
    border-radius: 20px;
    color: black;
    font-weight: bold;
    padding: 10px;
    width: 79px;
    cursor: pointer;
    font-size: 16px;
}

.loginbtn:hover {
    width: 80px;
    font-size: 17px;
}


.playbar {
    position: fixed;
    bottom: 30px;
    filter: invert(1);
    background:#dad5d5;
    border-radius: 30px;
    width: 90%;
    padding: 12px;
    width: 68vw;
    min-height: 40px;
}

.songbuttons
{
    display: flex;
    justify-content: center;
    gap: 12px;
}


.songList{
    height: 544px;
    overflow: auto;
    margin-bottom: 44px;
}

.hamburger{
    display: none;
}

.hamburgerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.songList ul
{
   padding: 0 12px;
}

.songList ul li
{
    list-style-type:decimal;
    display: flex;
    gap:12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
    width: 22vw;
    justify-content: space-between;
}

.songList .info
{
    font-size: 13px;
    width: 344px;
}

.playnow 
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.playnow span
{
    font-size: 15px;
    width: 64px;
    padding: 12px 0;
    
}


.seekbar
{
    height:4px;
    width: 98%;
    border-radius: 10px;
    background: black;
    position: relative;
    bottom: 0;
    margin: 6px;
    cursor: pointer;
}

.circle
{
    width:13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: absolute;
    bottom: -3px;
    left: 0%;
    transition: left 0.1s linear;
}


.songbuttons img{
    cursor: pointer;
}

.songinfo{
    width: auto;
}

.songinfo,.songtime
{
    color: black;
    padding: 0 12px;
    width: 250px;
}

.abovebar
{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}


@media (max-width:1400px){
    .left{
        background-color: black;
        position: absolute;
        left: -120%;
        transition: all .3s ;
        z-index:3;
        width:373px;
    }

    .left .close{
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
    }

    .right{
        width:100vw;
        margin: 0;
    }

    .seekbar{
        width: 99%;
    }

    .songbuttons{
        gap: 15px;
    }

    .songList ul li{
        width: 295px;
    }

    .abovebar{
        gap:33px;
    }

    .playbar{
        width: 94vw;
        z-index: 2;
        bottom: 3px;
        left: 0px;
        border-radius: 0;
    }
    

    .hamburger{
        display: block;
    }

    .card{
        width:90vw;
    }

    .cardContainer{
        margin: 0;
        justify-content: center;
    }


    .close{
        display: block;
        cursor: pointer;
    }
}

@media (min-width:390px)
{
    .buttons{
        display: flex;
    }

    .signupbtn{
        width: 59px;
    }
}