@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
}

.border {
    border: 2px solid red;
    margin: 3px;
}

.left {
    width: 27vw;
    padding: 10px;
}

.right {
    width: 75vw;
    font-size: 15px;
}


.home {
    padding: 10px;
}

.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    font-size: 13px;
    align-items: center;
}

.heading img {
    width: 25px;
}

.library {
    min-height: 80vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.footer a {
    color: gray;
}

.right {
    margin: 16px 0px;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}

.header>* {
    padding: 20px;
}

.spotify-playlist {
    padding: 16px;
}

.cardContainer {
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 70vh;
}

.spotify-playlist .card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
}

.card>* {
    padding-top: 10px;
}

.card img {
    position: relative;
    width: 100%;
    object-fit: contain;
}


.play {
    position: absolute;
    top: 175px;
    left: 167px;
    width: 24px;
    height: 24px;
    background-color: #1fd164;
    padding: 6px;
    border-radius: 30px;
    z-index: 1;
}

.buttons>* {
    margin: 0 12px;
}

.signupbtn {
    font-weight: bold;
    color: white;
    border: none;
    outline: none;
    background-color: rgb(34, 34, 34);
    cursor: pointer;
    font-size: 16px;
}

.signupbtn:hover {
    font-size: 17px;
    color: grey;

}

.loginbtn {
    background-color: white;
    border-radius: 20px;
    color: black;
    font-weight: bold;
    padding: 10px;
    width: 79px;
    cursor: pointer;
    font-size: 16px;
}

.loginbtn:hover {
    width: 80px;
    font-size: 17px;
}


.playbar {
    position: absolute;
    bottom: 0;
    background-color: #1fd164;
    width: 90%;
    padding: 12px;
}

.songbuttons
{
    display: flex;
    justify-content: center;
    gap: 12px;
}


.songList{
    width: 25vw;
    transform: translateX(-23px);
}

.songList ul
{
   padding: 0 42px;
}

.songList ul li
{
    list-style-type:decimal;
    display: flex;
    gap:12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
    width: 19vw;
}

.playnow 
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.playnow span
{
    font-size: 15px;
    width: 64px;
    padding: 12px 0;
    
}