@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*
{
    margin: 0;
    padding: 0;
}
body
{
    background-color: black;
    color:white;
    font-family: "Roboto", sans-serif;
}

.border
{
    border: 2px solid red;
    margin: 3px;
}

.left{
    width: 25vw;
    padding: 10px;
}

.right
{
    width: 75vw;
}

.home{
    padding:10px;
}

.home ul li{
    display: flex;
    gap:15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}
.heading
{
    display: flex;
    gap:15px;
    width: 100%;
    padding-top: 14px;
    padding:23px 14px;
    font-weight: bold;
    font-size: 13px;
    align-items: center;
}

.heading img
{
    width: 25px;
}

.library
{
   min-height: 80vh;
   position: relative;
}

.footer
{
    display: flex;
    font-size: 10px;
    gap:13px;
    position:absolute;
    bottom: 0;
}

.footer 
{
    color:gray;
}

.right
{
    margin: 16px 0px;
}

.header
{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34,34,34);
}

.header > *
{
    padding: 20px;
}

.spotify-playlist
{
    padding: 16px;
}

.cardContainer
{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.spotify-playlist .card
{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
}

.card > *
{
    padding-top: 10px;
}

.card img
{
    width: 100%;
    object-fit: contain;
}